.height_100 {
    height: 100vh;
}
.fondo {     
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: bottom;
}

.fondo_ride {
    background-image: url("../assets/img/d_aventon.png");
}
.fondo_gif {
    background-image: url("https://metrouk2.files.wordpress.com/2014/10/1.gif?w=620&h=0&crop=1");
}

.mtop_7 {
    margin-top: 7vh;
}

.mtop_70 {
    margin-top: 70vh;
}