.height_100 {
    height: 100vh;
}
.fondo {     
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo_ride {
    background-color: bisque;
    background-size: contain;
    background-image: url("../assets/img/aventon.png");
    transition-timing-function: ease-in;
}

.fondo_gif {
    background-image: url("https://metrouk2.files.wordpress.com/2014/10/1.gif?w=620&h=0&crop=1");
}